
<div id="site-wrap">
        <br>
        <header>
        <h1>Your Latest Uploads</h1></header>
        <div id="collections">
            <div class="content-row col-md-12">
                {{# each images}}
                {{# if this.isVid}}
                    <div class="col-md-4">
                        <video width="320" height="240" controls style="border=1px"><source src="{{this.path}}"  type="video/mp4"></video>~~~{{this.path}}
                        <br>
                        <div class="img-info">{{users.f_name}} posted a new {{this.type_id}}</div>
                    </div>
                {{else}}
                <div class="col-md-4">
                    <a href="#"><img src={{this.path}} width="400"></a>
                    <br>
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>
</div>
