
<div id="site-wrap">
        <br>
        <header>
        <h1>Your Latest Uploads</h1></header>
        <div id="collections">
            <div id="content-row" class="content-row col-md-12">
                {{# each images}}
                {{# if this.isVid}}
                    <div class="col-md-4">
                        <video width="320" height="240" controls style="border=1px"><source src="{{this.path}}"  type="video/mp4"></video>
                        <br>
                        <span class="img-info">{{users.f_name}} posted a new video</span>
                    </div>
                {{else}}
                <div class="col-md-4">
                <a href="#imgBig"><img id="imgSmall" src={{this.path}} width="320"></a>
                    <br>
<<<<<<< HEAD
                    <button type="button" name="button" id="remove-photo{{this.id}}">Delete</button>
=======
                        <span class="img-info">{{users.f_name}} posted a new photo</span>
>>>>>>> 0e921377ebeb3c3005124261bcca9c3970eac183
                </div>
                {{/if}}
                {{/each}}
            </div>
        </div>

<script>
$("#imgSmall").click(function(){		                                        $("#imgBig").attr("src","{{this.path}}");
    $("#overlay").show();
    $("#overlayContent").show();
    console.log("clicked");
});

$("#imgBig").click(function(){
    $("#imgBig").attr("src", "{{this.path}}");
    $("#overlay").hide();
    $("#overlayContent").hide();
});

</script>
</div>

{{# if images.length}}
{{# each images}}
<script>
    $("#remove-photo{{this.id}}").click(function(){
        var image = {{this.id}}
        console.log(image);
        $.ajax({
            url: "/remove_image",
            type: "post",
            dataType: "json",
            data: {image: image}
        });
    });
</script>
{{/each}}
{{/if}}
